<footer class="footer bg-dark text-white mt-5">
<!-- <footer class="bg-dark text-light text-center py-3"> -->
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h5>Enlaces Rápidos</h5>
                <ul class="list-unstyled">
                    <li><a class="text-white" routerLink="/">Inicio</a></li>
                    <li><a class="text-white" routerLink="/buscar">Buscar</a></li>
                    <li><a class="text-white" routerLink="/pipes">Pipes</a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h5>Contacto</h5>
                <p>Correo electrónico: kgalarza@hotmail.com</p>
                <p>Teléfono: (+593) 961251803</p>
            </div>
            <div class="col-lg-4">
                <h5>Redes Sociales</h5>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" class="text-white"><i class="bi bi-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-white"><i class="bi bi-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-white"><i class="bi bi-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-12 text-center">
                <p>&copy; 2023 Marvel App Fake. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>


<!-- 
<footer class="footer bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h5>Enlaces Rápidos</h5>
                <ul class="list-unstyled">
                    <li><a class="text-white" routerLink="/">Inicio</a></li>
                    <li><a class="text-white" routerLink="/buscar">Buscar</a></li>
                    <li><a class="text-white" routerLink="/pipes">Pipes</a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h5>Contacto</h5>
                <p>Correo electrónico: kgalarza@bancodellitoral.com</p>
                <p>Teléfono: (+593) 0961251803</p>
            </div>
            <div class="col-lg-4">
                <h5>Redes Sociales</h5>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" class="text-white"><i class="bi bi-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-white"><i class="bi bi-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-white"><i class="bi bi-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-12 text-center">
                <p>&copy; 2023 MarvelApp Fake. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer> -->