<div class="row">
    <div class="col-md-12 mb-5">
        <div class="card">
            <div class="card-body">
             
                <section>
                    <h2>Creando la estructura de nuestro proyecto</h2>
                    <p>Comienza organizando tu proyecto Angular para una estructura eficiente y fácil de mantener.
                        Utiliza el Angular
                        CLI para generar componentes, módulos y servicios.</p>
                </section>

                <section>
                    <h2>Instalando el Bootstrap/Material con Angular-CLI</h2>
                    <p>Añade estilos atractivos a tu aplicación Angular utilizando Bootstrap o Material Design. El
                        Angular CLI facilita
                        la instalación de estas bibliotecas para mejorar la apariencia de tu aplicación.</p>
                </section>

                <section>
                    <h2>Configurando el navbar y otros componentes</h2>
                    <p>Personaliza el navbar y otros componentes de la interfaz de usuario para que se ajusten al diseño
                        y la
                        experiencia de usuario deseados. Aprende a integrar estos componentes en tu aplicación Angular.
                    </p>
                </section>

                <section>
                    <h2>Rutas en Angular</h2>
                    <p>Explora el enrutamiento en Angular para navegar entre diferentes secciones de tu aplicación. Crea
                        rutas para
                        organizar y acceder fácilmente a las distintas partes de tu SPA.</p>
                </section>

                <!-- router-concepts.component.html -->

                <section>
                    <h2>RouterLink y RouterLinkActive en Angular</h2>
                    <p>Utiliza las directivas RouterLink y RouterLinkActive para facilitar la navegación y resaltar
                        visualmente la ruta activa en tu aplicación Angular.</p>
                </section>

                <section>
                    <h3>Paso a Paso</h3>

                    <ul>
                        <li>
                            <strong>Paso 1:</strong> Importa las directivas necesarias en tu componente o módulo.

                        </li>

                        <li>
                            <strong>Paso 2:</strong> Configura las rutas en tu aplicación Angular. Esto se hace
                            generalmente en un archivo de rutas (`app-routing.module.ts`).

                        </li>

                        <li>
                            <strong>Paso 3:</strong> Utiliza `RouterLink` en tus enlaces para navegar entre rutas.

                        </li>

                        <li>
                            <strong>Paso 4:</strong> Añade estilos específicos para la clase activa con
                            `RouterLinkActive`.

                        </li>
                    </ul>
                </section>

            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12 mb-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Cómo usar la API de Marvel</h5>
                <p class="card-text">
                    La API de Marvel proporciona acceso a una amplia variedad de información sobre personajes, cómics y
                    más.
                    Aquí hay algunos pasos básicos para comenzar a usar la API de Marvel sin necesidad de escribir
                    código:
                </p>

                <ul>
                    <li><strong>Paso 1:</strong> Regístrate en el sitio web de desarrolladores de Marvel para obtener tu
                        clave de API.</li>
                    <li><strong>Paso 2:</strong> Obtén tu clave pública y privada desde la sección de desarrolladores de
                        Marvel.</li>
                    <li><strong>Paso 3:</strong> Utiliza tu clave pública y privada para construir URLs de solicitud
                        según la documentación de la API.</li>
                    <li><strong>Paso 4:</strong> Realiza solicitudes HTTP a las URL de la API para obtener información
                        sobre personajes, cómics, etc.</li>
                    <li><strong>Paso 5:</strong> Procesa y muestra la información obtenida en tu aplicación según tus
                        necesidades.</li>
                </ul>

                <p class="card-text">
                    Recuerda revisar la documentación oficial de la API de Marvel para conocer los endpoints
                    disponibles,
                    parámetros de solicitud y cualquier otro detalle importante.
                </p>
            </div>
        </div>
    </div>
</div>