
<app-carrusel></app-carrusel>


<div class="row">
    <div *ngFor="let superheroe of superheroes" class="col-md-4 mb-4">
        <div class="card" (click)="mostrarDetalleHeroe(superheroe.id)">
            <img [src]="superheroe.thumbnail.path + '/portrait_incredible.' + superheroe.thumbnail.extension"
                class="card-img-top" alt="{{ superheroe.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ superheroe.name }}</h5>
                <p class="card-text">{{ superheroe.description }}</p>
            </div>
        </div>
    </div>
</div>